<div id="link">
 <h3><%= link_to 'Create Inquiry', new_inquiry_path %> ||
 <%= link_to 'All Inquiry', inquiries_path %></h3>
</div>
<h1>Assigned Technical</h1>

<%= form_for(@inquiry) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :technical %><br />
    <%= f.text_field :technical %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

