<h1>Break Down </h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @inquiry.date %>
</p>

<p>
  <b>System:</b>
  <%= @inquiry.system %>
</p>

<p>
  <b>Company:</b>
  <%= @inquiry.company %>
</p>

<p>
  <b>Name:</b>
  <%= @inquiry.name %>
</p>

<p>
  <b>E mail:</b>
  <%= @inquiry.e_mail %>
</p>

<p>
  <b>House building:</b>
  <%= @inquiry.house_building %>
</p>

<p>
  <b>Street:</b>
  <%= @inquiry.street %>
</p>

<p>
  <b>Barangay:</b>
  <%= @inquiry.barangay %>
</p>

<p>
  <b>City:</b>
  <%= @inquiry.city %>
</p>

<p>
  <b>Province:</b>
  <%= @inquiry.province %>
</p>

<p>
  <b>Telephone:</b>
  <%= @inquiry.telephone %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @inquiry.cellphone %>
</p>

<p>
  <b>Fax:</b>
  <%= @inquiry.fax %>
</p>

<p>
  <b>Request:</b>
  <%= @inquiry.request %>
</p>

<p>
  <b>Concern:</b>
  <%= @inquiry.concern %>
</p>

<p>
  <b>Inquiry:</b>
  <%= @inquiry.inquiry %>
</p>
<p>
  <b>Technical:</b>
  <%= @inquiry.technical %>
</p>


<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
