<!DOCTYPE html>
<html>
<head>
  <title>Service And Telephone Call</title>
  
</head>
<body>
      <header>
        <%= image_tag("logo.png", :alt => "LOGO", :class => "round") %>
        
      </header>
      <section class="round">
        <%= link_to 'Create Inquiry', new_inquiry_path %> ||
        <%= link_to 'Pending Inquiry', inquiries_path %> ||
        <%= link_to 'Pending Call', '#' %> ||
        <%= link_to 'Solved', '#' %>
        <%= yield %>
      </section>
    </div>

</body>
</html>
